<?xml version='1.0'?>
<model>
  <name>2-inch-april-tagged-cube</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
 
  <description>
    A simple cube of width 2 inch covered in April Tags.
    April Tag family: tag35h11
    April Tag Values: 7, 8, 9, 10, 11, 12
  </description>
</model>
