<?xml version='1.0'?>
<model>
  <name>1.5-inch-april-tagged-cube</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
 
  <description>
    A simple cube of width 1.5 inch covered in April Tags.
    April Tag family: tag35h11
    April Tag Values: 1, 2, 3, 4, 5, 6
  </description>
</model>
